@import "tailwindcss";

@font-face {
  font-family: Robert;
  src: url('/fonts/robert-medium.woff2');
}

@font-face {
  font-family: Wagon;
  src: url('/fonts/Wagon-Bold.otf');
}

@theme {
  --font-Robert: Robert;
  --font-Wagon: Wagon;
}

@layer utilities {
  .img-mask img {
    filter: grayscale();
    transition: all 0.3s ;
    
  }

  .img-mask:hover img {
    filter: none;
  }
}