@import "tailwindcss";

@font-face {
  font-family: Robert;
  src: url('/fonts/robert-medium.woff2');
}

@theme {
  --font-Robert: Robert
}

@layer utilities {

  .text-line {
    transform: translate3d(15px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    opacity: 0;
  }

  .layout {
    background: url("./assets/images/header-large.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
  }
}